<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
<h1>We´´l be right back</h1>
<p>This sit is currently being updated</p>
</body>
</html>