<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header}}

<p>This is my git Hub pagee</p>
<br>
View my Projects
<a href="https://github.com/Rayleigh3105">Github Account</a>

{{> footer}}
</body>
</html>